In [1]:
import pandas as pd
import numpy as np

import requests
import json
from datetime import datetime

**Import df_cleaned.csv**

In [2]:
df_cleaned = pd.read_csv('df_cleaned.csv')

In [3]:
len(df_cleaned)

11675

In [4]:
df_cleaned.head()

,Unnamed: 0,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,...,Flight Phase,Visibility,Precipitation,Height,Speed,Distance,Species ID,Species Name,Species Quantity,Flight Impact
0,106753,300045,2010,1,1,BUS,BUSINESS,C-310,A,226,...,TAKEOFF RUN,DAY,NONE,0.0,30.0,0.0,NE1,GULL,1,ABORTED TAKEOFF
1,106754,300390,2010,1,1,JBU,JETBLUE AIRWAYS,A-320,A,04A,...,TAKEOFF RUN,DAY,RAIN,0.0,120.0,0.0,ZT3,GRACKLE,1,NONE
2,106764,300701,2010,1,2,SKW,SKYWEST AIRLINES,CRJ100/200,A,188,...,LANDING ROLL,DAY,NONE,0.0,80.0,0.0,YH004,HORNED LARK,1,NONE
3,106765,300186,2010,1,2,NWA,NORTHWEST AIRLINES,DC-9,A,583,...,TAKEOFF RUN,DAY,NONE,0.0,140.0,0.0,K33,HAWK,1,NONE
4,106769,301152,2010,1,2,JBU,JETBLUE AIRWAYS,A-320,A,04A,...,APPROACH,DAY,NONE,20.0,120.0,0.0,YI010,TREE SWALLOW,1,NONE

**Create birdstrike count for airports and save as csv**

In [5]:
airport_counts = df_cleaned.groupby('Airport ID').size().sort_values(ascending=False)
df_airports = pd.DataFrame({'Airport ID':airport_counts.index, 'Birdstrikes_N':airport_counts.values})

In [6]:
df_airports.head()

  Airport ID  Birdstrikes_N
0       KDFW            402
1       KSMF            337
2       KDEN            293
3       KPHL            286
4       KBNA            258

**Import airport_codes_csv (downloaded from internet)**

In [7]:
airport_codes = pd.read_csv('airport-codes_csv.csv')

In [8]:
airport_codes.head()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [9]:
# airport_codes[airport_codes['ident'] == 'KJAX']
# name municipality gps_code coordinates

In [10]:
#df_merged = pd.merge(airports, airport_codes, how = 'left', left_on = 'Airport ID', right_on = 'ident')

In [11]:
#df_merged['long'], df_merged['lat'] = df_merged['coordinates'].str.split(',', 1).str

In [13]:
#pd.set_option('display.max_rows', None)

In [14]:
len(airport_codes)

57421

**Merging df_airports and airport_codes to get long/lat values for airport IDs that only our data has**

In [15]:
df_merged = pd.merge(df_airports, airport_codes, how = 'inner', left_on = 'Airport ID', right_on = 'ident')

In [16]:
df_merged['long'], df_merged['lat'] = df_merged['coordinates'].str.split(',', 1).str

<ipython-input-16-e3d884dec4d5>:1: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  df_merged['long'], df_merged['lat'] = df_merged['coordinates'].str.split(',', 1).str

In [17]:
df_merged['lat'] = df_merged['lat'].astype(str)
df_merged['long'] = df_merged['long'].astype(str)

In [18]:
df_merged.head()

,Airport ID,Birdstrikes_N,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,long,lat
0,KDFW,402,KDFW,large_airport,Dallas Fort Worth International Airport,607.0,NaN,US,US-TX,Dallas-Fort Worth,KDFW,DFW,DFW,"-97.038002, 32.896801",-97.038002,32.896801
1,KSMF,337,KSMF,large_airport,Sacramento International Airport,27.0,NaN,US,US-CA,Sacramento,KSMF,SMF,SMF,"-121.59100341796875, 38.69540023803711",-121.59100341796875,38.69540023803711
2,KDEN,293,KDEN,large_airport,Denver International Airport,5431.0,NaN,US,US-CO,Denver,KDEN,DEN,DEN,"-104.672996521, 39.861698150635",-104.672996521,39.861698150635
3,KPHL,286,KPHL,large_airport,Philadelphia International Airport,36.0,NaN,US,US-PA,Philadelphia,KPHL,PHL,PHL,"-75.24109649658203, 39.87189865112305",-75.24109649658203,39.87189865112305
4,KBNA,258,KBNA,large_airport,Nashville International Airport,599.0,NaN,US,US-TN,Nashville,KBNA,BNA,BNA,"-86.6781997680664, 36.1245002746582",-86.6781997680664,36.1245002746582

**Create empty zips with lat/long df**

In [19]:
column_names = ["lat_", "long_", "zipcode"]
df_w_zip = pd.DataFrame(columns = column_names)

**Import zipcodes via API**

In [20]:
Token = '546a860b4a7a4d0697f2fe7f66f1e7e5'

In [21]:
# initially, list was used to store zip codes, then switched to df
# zip_codes_list = []

In [23]:
for index, row in df_merged.iterrows():
    #make the api call
    response = requests.get('https://api.bigdatacloud.net/data/reverse-geocode?latitude='+row.lat+'&longitude='+row.long+'&localityLanguage=en&key='+Token)  
    #load the api response as a json
    res_json = json.loads(response.text)
    if res_json['postcode'] == None:
        continue
    else:
        new_row = {'lat_':row.lat, 'long_': row.long, 'zipcode': res_json['postcode']}
        # print(new_row)
        df_w_zip = df_w_zip.append(new_row, ignore_index=True)

In [24]:
len(df_w_zip)

1353

In [26]:
df_w_zip.head()

                 lat_                long_ zipcode
0           32.896801           -97.038002   76051
1   38.69540023803711  -121.59100341796875   95837
2     39.861698150635       -104.672996521   80249
3   39.87189865112305   -75.24109649658203   19113
4    36.1245002746582    -86.6781997680664   37214

In [31]:
#df_w_zip.to_csv('df_w_zip.csv', index = False)
pd.read_csv('df_w_zip.csv')  # Save time instead of running API again

           lat_       long_  zipcode
0     32.896801  -97.038002  76051.0
1     38.695400 -121.591003  95837.0
2     39.861698 -104.672997  80249.0
3     39.871899  -75.241096  19113.0
4     36.124500  -86.678200  37214.0
...         ...         ...      ...
1348  31.084900  -83.803299  31788.0
1349  39.140999  -96.670799  66503.0
1350  35.599899  -88.915604  38301.0
1351  34.882401  -95.783501  74501.0
1352  46.022800  -92.895401  55037.0

[1353 rows x 3 columns]

**Join all dates together into one column**

In [32]:
df_cleaned["incident_date"] = df_cleaned["Incident Year"].astype(str) + "-" + df_cleaned["Incident Month"].astype(str) + "-" + df_cleaned["Incident Day"].astype(str)
df_cleaned["incident_date"] = pd.to_datetime(df_cleaned['incident_date'], format= '%Y-%m-%d').astype(str)
# date_list = pd.DataFrame(df_cleaned['incident_date'])
# date_list['incident_date'] = date_list['incident_date'].astype(str)

In [33]:
len(df_cleaned)

11675

In [34]:
#len(df_cleaned[df_cleaned['incident_date'].str.contains("2010")])

In [35]:
df_cleaned_coord = pd.merge(df_cleaned, df_merged, how = 'left', left_on = 'Airport ID', right_on = 'Airport ID')

In [36]:
df_cleaned_coord.head()

,Unnamed: 0,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,...,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates,long,lat
0,106753,300045,2010,1,1,BUS,BUSINESS,C-310,A,226,...,NaN,US,US-FL,Pompano Beach,KPMP,PPM,PMP,"-80.111099243164, 26.247100830078",-80.111099243164,26.247100830078
1,106754,300390,2010,1,1,JBU,JETBLUE AIRWAYS,A-320,A,04A,...,NaN,US,US-FL,Orlando,KMCO,MCO,MCO,"-81.30899810791016, 28.429399490356445",-81.30899810791016,28.429399490356445
2,106764,300701,2010,1,2,SKW,SKYWEST AIRLINES,CRJ100/200,A,188,...,NaN,US,US-UT,Salt Lake City,KSLC,SLC,SLC,"-111.97799682617188, 40.78839874267578",-111.97799682617188,40.78839874267578
3,106765,300186,2010,1,2,NWA,NORTHWEST AIRLINES,DC-9,A,583,...,NaN,US,US-MD,Baltimore,KBWI,BWI,BWI,"-76.668297, 39.1754",-76.668297,39.1754
4,106769,301152,2010,1,2,JBU,JETBLUE AIRWAYS,A-320,A,04A,...,NaN,US,US-FL,Orlando,KMCO,MCO,MCO,"-81.30899810791016, 28.429399490356445",-81.30899810791016,28.429399490356445

In [37]:
df_cleaned_coord = df_cleaned_coord.drop(columns=['continent','iso_country','iso_region','gps_code','iata_code','local_code'])

In [38]:
df_cleaned_coord.columns

Index(['Unnamed: 0', 'Record ID', 'Incident Year', 'Incident Month',
       'Incident Day', 'Operator ID', 'Operator', 'Aircraft', 'Aircraft Type',
       'Aircraft Make', 'Aircraft Model', 'Airport ID', 'Airport', 'State',
       'FAA Region', 'Flight Phase', 'Visibility', 'Precipitation', 'Height',
       'Speed', 'Distance', 'Species ID', 'Species Name', 'Species Quantity',
       'Flight Impact', 'incident_date', 'Birdstrikes_N', 'ident', 'type',
       'name', 'elevation_ft', 'municipality', 'coordinates', 'long', 'lat'],
      dtype='object')

In [39]:
df_zip_date = pd.merge(df_cleaned_coord, df_w_zip, how = 'left', left_on = ['long', 'lat'], right_on = ['long_', 'lat_'])

In [40]:
df_zip_date.head()

,Unnamed: 0,Record ID,Incident Year,Incident Month,Incident Day,Operator ID,Operator,Aircraft,Aircraft Type,Aircraft Make,...,type,name,elevation_ft,municipality,coordinates,long,lat,lat_,long_,zipcode
0,106753,300045,2010,1,1,BUS,BUSINESS,C-310,A,226,...,small_airport,Pompano Beach Airpark,19.0,Pompano Beach,"-80.111099243164, 26.247100830078",-80.111099243164,26.247100830078,26.247100830078,-80.111099243164,33060
1,106753,300045,2010,1,1,BUS,BUSINESS,C-310,A,226,...,small_airport,Pompano Beach Airpark,19.0,Pompano Beach,"-80.111099243164, 26.247100830078",-80.111099243164,26.247100830078,26.247100830078,-80.111099243164,33060
2,106754,300390,2010,1,1,JBU,JETBLUE AIRWAYS,A-320,A,04A,...,large_airport,Orlando International Airport,96.0,Orlando,"-81.30899810791016, 28.429399490356445",-81.30899810791016,28.429399490356445,28.429399490356445,-81.30899810791016,32827
3,106754,300390,2010,1,1,JBU,JETBLUE AIRWAYS,A-320,A,04A,...,large_airport,Orlando International Airport,96.0,Orlando,"-81.30899810791016, 28.429399490356445",-81.30899810791016,28.429399490356445,28.429399490356445,-81.30899810791016,32827
4,106764,300701,2010,1,2,SKW,SKYWEST AIRLINES,CRJ100/200,A,188,...,large_airport,Salt Lake City International Airport,4227.0,Salt Lake City,"-111.97799682617188, 40.78839874267578",-111.97799682617188,40.78839874267578,40.78839874267578,-111.97799682617188,84116

In [41]:
df_zip_date['zipcode'].isna().sum()

73

In [42]:
df_zip_date = df_zip_date[df_zip_date["zipcode"] != ""]

In [43]:
len(df_zip_date)

22873

In [44]:
df_zip_date.columns

Index(['Unnamed: 0', 'Record ID', 'Incident Year', 'Incident Month',
       'Incident Day', 'Operator ID', 'Operator', 'Aircraft', 'Aircraft Type',
       'Aircraft Make', 'Aircraft Model', 'Airport ID', 'Airport', 'State',
       'FAA Region', 'Flight Phase', 'Visibility', 'Precipitation', 'Height',
       'Speed', 'Distance', 'Species ID', 'Species Name', 'Species Quantity',
       'Flight Impact', 'incident_date', 'Birdstrikes_N', 'ident', 'type',
       'name', 'elevation_ft', 'municipality', 'coordinates', 'long', 'lat',
       'lat_', 'long_', 'zipcode'],
      dtype='object')

In [45]:
df_zip_date_2010 = df_zip_date[df_zip_date['incident_date'].str.contains("2010")]
df_zip_date_2011 = df_zip_date[df_zip_date['incident_date'].str.contains("2011")]

In [46]:
df_zip_date_2010['zipcode'] = df_zip_date_2010['zipcode'].astype(str)
df_zip_date_2011['zipcode'] = df_zip_date_2011['zipcode'].astype(str)

<ipython-input-46-9700c8161968>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zip_date_2010['zipcode'] = df_zip_date_2010['zipcode'].astype(str)
<ipython-input-46-9700c8161968>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_zip_date_2011['zipcode'] = df_zip_date_2011['zipcode'].astype(str)

In [47]:
# Abduvosids
Token_w = 'EHZroSHTsmfKuOMeOWRkrDpMPWoZTXmb' 

#Fasihs
Token_f = 'KHliZgSorqkyvUBivnqDQPLShGaEkNui'

From the documentation:

ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/readme.txt

https://stackoverflow.com/questions/49280302/noaa-api-returning-impossible-historical-temperature-values

TOBS = Temperature at the time of observation (tenths of degrees C). We can divide results by 10

Documentation for GCHND dataset: Other measurements we can look at
https://www.ncei.noaa.gov/data/global-historical-climatology-network-daily/doc/GHCND_documentation.pdf

In [48]:
#df_w_weather.to_csv('df_w_weather.csv', index=False)

**Function to import weather data**

Need to import data for each year through different functions due to API limitations. Taking 2 years (2010 & 2011) duration of values to ensure our data crosses the minimum 1000 rows requirement. Running for 2 years through 1 call took >20 mins and ended up in error.

In [63]:
def get_weather_2010(datatypeid):
    token = {'token': 'EHZroSHTsmfKuOMeOWRkrDpMPWoZTXmb'}
    column_names = ["date", "station", "zipcode", "value"]
    df = pd.DataFrame(columns = column_names)
    
    for index,row in df_zip_date_2010.iterrows():
        response = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:'+row.zipcode+'&datatypeid='+datatypeid+'&startdate='+row.incident_date+'&enddate='+row.incident_date, 
                             headers={'token':Token_w})
        res_json = json.loads(response.text)
        if res_json != {}:
            new_row = {'date': row.incident_date, 'station': res_json['results'][0]['station'], 'zipcode': row.zipcode, 'value': res_json['results'][0]['value']}
            df = df.append(new_row, ignore_index=True)
            print(new_row)
    return(df)

In [60]:
def get_weather_2011(datatypeid):
    token = {'token': 'KHliZgSorqkyvUBivnqDQPLShGaEkNui'}
    column_names = ["date", "station", "zipcode", "value"]
    df = pd.DataFrame(columns = column_names)
    
    for index,row in df_zip_date_2011.iterrows():
        response = requests.get('https://www.ncdc.noaa.gov/cdo-web/api/v2/data?datasetid=GHCND&locationid=ZIP:'+row.zipcode+'&datatypeid='+datatypeid+'&startdate='+row.incident_date+'&enddate='+row.incident_date, 
                             headers={'token':Token_w})
        res_json = json.loads(response.text)
        if res_json != {}:
            new_row = {'date': row.incident_date, 'station': res_json['results'][0]['station'], 'zipcode': row.zipcode, 'value': res_json['results'][0]['value']}
            df = df.append(new_row, ignore_index=True)
            print(new_row)
    return(df)

**Import Precipitation data**

In [ ]:
df_w_prcp_2010 = get_weather_2010("PRCP")

In [ ]:
df_w_prcp_2011 = get_weather_2011("PRCP")

**Import Average Wind Speed data**

In [ ]:
df_w_awnd = get_weather_2010("AWND")

**Import Temperature data**

In [ ]:
df_w_temp = get_weather_2010("TOBS")

**Import Percentage of Sun in day data**

In [ ]:
df_w_tsun = get_weather_2010("TSUN")